services:
  mongo:
    image: mongo:7
    container_name: app_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: app_api
    ports:
      - "4000:4000"
    environment:
      NODE_ENV: development
      PORT: 4000
      MONGO_URI: mongodb://root:rootpass@mongo:27017/appdb?authSource=admin
      JWT_SECRET: change_me
      COOKIE_NAME: access_token
      CORS_ORIGIN: http://localhost:5173
    depends_on:
      - mongo

volumes:
  mongo_data:
